.list-image-container {
  display: inline;
}

.image-overlay {
  /*position: absolute;*/
}

.list-image-container img {
  display: block;
  margin: 0;
  padding: 5px;
  position: relative;
  cursor: zoom-in;
}